.card-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list {
  position: absolute;
  top: 10%;
  left: calc(50% - 2.5vw);
  transform: translate(-50%, -50%);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card-list-back {
  position: absolute;
  top: 10%;
  left: calc(50% - 2.5vw);
  transform: translate(-50%, -50%);
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card-list__item {
  --angle: 0deg;
  --x-offset: 0vw; 
  animation: rotate-cards 3s linear forwards;
  transform-origin: center;
  position: absolute;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list__item-back {
  --angle: 0deg;
  --x-offset: 0vw; 
  animation: rotate-cards 3s linear forwards;
  transform-origin: center;
  position: absolute;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  max-width: 100%;
  max-height: 100%;
}

.horizontal-layout {
  animation: horizontal-layout 1s linear forwards;
}


.fade-out-bottom {
	-webkit-animation: fade-out-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: fade-out-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.reversed {
  transform: rotate(180deg) !important;
}