.reading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reading-container,
.shuffle-container {
  display: flex;
  margin-top: 10vh;
  width: 80vw;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8vh;
}

.reading-container>div {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.reading .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.reading .heading h1 {
  font-size: 1.5rem;
}

.reading .heading img {
  width: 2vw;
  height: 2vw;
}

.reading button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  gap: 1vw;
  position: relative;
}

.reading button img {
  width: 2vw;
}

.reading .modal {
  position: absolute;
  top: 110%;
  font-size: 0.75rem;
}

.reading .shuffle-container .hide {
  opacity: 0;
}

.reading .shuffle-container .floating {
  opacity: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .reading .heading img {
    width: 5vw;
    height: 5vw;
  }

  .reading button img {
    width: 4vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
  .reading .heading img {
    width: 4vw;
    height: 4vw;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .reading .heading img {
    width: 3vw;
    height: 3vw;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* CSS rules here */
}