.journal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.journal .journal-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 2vh;
}

.journal .summary-header {
  z-index: 3;
  height: 3vh;
}

.journal .icon-wrapper {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
}

.journal .dropdown-wrapper {
  top: 105%;
  left: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15% 25%;
  border-radius: 10px;
  z-index: 999;
  font-size: 0.875rem;
}

.journal .dropdown-wrapper input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}

/* Custom checkbox style */
.journal .dropdown-wrapper input[type="checkbox"]::before {
  content: '';
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid #ccc; /* Border color */
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.2); /* Unchecked background color */
  vertical-align: middle;
  margin-right: 5px;
}

/* Checked state style */
.journal .dropdown-wrapper input[type="checkbox"]:checked::before {
  background-color: white; /* Checked background color */
}

/* Optional: Indicate focus state */
.journal .dropdown-wrapper input[type="checkbox"]:focus-visible::before {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); /* Example focus outline color */
}

.journal .dropdown-wrapper .clear {
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.journal .summary-view .content-wrapper {
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.detail-view {
  margin-top: -5vh;
  position: relative;
}

.return-icon {
  position: absolute;
  top: 6%;
  right: 5%;
  z-index: 3;
}

.content-wrapper {
  position: relative;
}

.content-wrapper>h3 {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.25vh 1.5vw;
  border: 1px solid white;
  border-radius: 50px;
  margin: -1vh;
}

.spread-display {
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: flex-start; 
  position: relative;
  top: 0%;
  left: calc(50% - 1.5vw);
  margin-top: 6vh;
  margin-bottom: 24vh;
}

.spread-display .spread-card-container img {
  width: 3vw;
}

.journal .result-wrapper {
  display: flex;
  margin-top: 10vh;
  width: 80vw;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8vh;
}

.journal .result-wrapper .content-wrapper {
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.journal .summary-item {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.15);
  padding: 5%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.journal .summary-item .reading-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) ;
  gap: 3vw;
  padding-bottom: 1vh;
}

.journal .summary-item .reading-header>p {
  font-family: "Cormorant Garamond", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  white-space: wrap;
  font-size: 1.25rem;
}

.journal .summary-item .reading-header>p img {
  width: 1.5rem;
  height: max-content;
}

.journal .summary-item .info {
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  gap: 5px;
}

.journal .summary-item .info img {
  width: 1rem;
  height: max-content;
}

.journal .summary-item .info p {
  font-family: "Cormorant Garamond", serif;
}

.journal .summary-item .info p:nth-child(3) {
  font-family: "Cormorant Garamond", serif;
  font-style: italic;
}

.journal .summary-item .reading-content {
  font-size: 0.875rem;
}

.journal .summary-item .reading-details {
  display: flex;
  justify-content: space-between;
}

.journal .summary-item .expand-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.875rem;
  font-weight: 500;
}

.journal select {
  background-color: transparent;
}

.summary-view {
  gap: 2vh;
}

.summary-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-right: 2vw;
}

.summary-header .icon-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  position: relative;
}

.summary-header .icon-wrapper .search-bar {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1% 3%;
  border-radius: 10px;
}

.summary-header .icon-wrapper .search-bar input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.summary-header .icon-wrapper .search-bar input {
  background-color: transparent;
  padding: 0 5px;
  border: none;
  color: white;
}

.summary-header .icon-wrapper .icon {
  font-size: 0.75rem;
}

.summary-view, 
.journal .result-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  max-width: 900px;
  padding: 8vh 5vw;
  height: 80vh;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(50px);
  border-radius: 2vw;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.1);
}

.journal .content-wrapper {
  width: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.journal .result-wrapper h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  gap: 1vw;
}

.journal .result-wrapper h1 img {
  width: 3vw;
}

.journal .result-wrapper .card-container .card-image img {
  width: 6vw;
  height: auto;
  max-width: 200px;
}

.journal .result-wrapper .card-container {
  display: flex;
  gap: 5vw;
}

.journal .result-wrapper .card-text {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.journal .result-wrapper .card-text h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5vw;
}

.journal .result-wrapper .card-text h3 span {
  border: 1px solid white;
  padding: 0 1vw;
  border-radius: 50px;
}

.journal .result-wrapper .card-text img {
  width: 1.5vw;
}

.journal .result-wrapper .last-item-wrapper .card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journal .result-wrapper .scroll-down-icon {
  position: sticky;
  bottom: 1.5vh;
  z-index: 1;
  padding: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -1%;
  cursor: pointer;
  width: 1rem;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.3);
  animation: arrow_float 2s ease-in-out infinite;
}

.journal .result-wrapper .save-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.journal .result-wrapper .save-wrapper .tags,
.journal .result-wrapper .save-wrapper .note {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  position: relative;
}

.journal .result-wrapper .save-wrapper span {
  font-size: 0.75rem;
  opacity: 0.6;
}
.journal .result-wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}
.journal .result-wrapper textarea::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.journal .result-wrapper .save-wrapper .editor {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.journal .result-wrapper .header {
  display: flex;
  font-size: 0.875rem;
  align-items: center;
  gap: 0.75vw;
}

.journal .result-wrapper .input-wrapper {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.5vh 1vw;
  gap: 1vw;
  margin-bottom: 2vh; 
}

.journal .result-wrapper .tags .input-wrapper {
  padding-left: 0;
}

.journal .result-wrapper .note .input-wrapper {
  padding: 1vh 1vw;
  align-items: flex-end;
  gap: 0;
  position: relative;
}

.journal .result-wrapper .input-wrapper input {
  padding: 0.3vh 0.5vw;
  background-color: transparent;
  flex: 1;
  font-size: 0.75rem;
  font-weight: 100;
  outline: none;
  border: none;
}

.journal .result-wrapper .tip {
  position: absolute;
  top: calc(100% - 1.5vh)
}

.journal .input-wrapper textarea {
  resize: none; 
  padding: 0.3vh 0.5vw;
  background-color: transparent;
  flex: 1;
  font-size: 0.75rem;
  font-weight: 100;
  outline: none;
  border: none;
}

.journal .input-wrapper input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.journal .input-wrapper textarea:focus {
  outline: none; 
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.journal .result-wrapper .input-wrapper textarea {
  scrollbar-width: none;
  overflow-y: auto;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 1vh 1vw;
}

.journal .result-wrapper .input-wrapper textarea:focus + button {
  /* background-color: rgba(255, 255, 255, 0.1); */
  color: white;
}

.journal .result-wrapper .note .input-wrapper .button-wrapper {
  height: 100%;
}

.journal .result-wrapper .note .input-wrapper button {
  padding: 0.5vh 1vw;
  align-self: flex-end;
}

.journal .result-wrapper .input-wrapper button {
  font-size: 0.75rem;
  white-space: nowrap;
}


.journal .summary-item .tags ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
}

.journal .summary-item .tags ul li:first-child {
  margin-left: 1vw;
}

.journal .summary-item .tags ul li {
  padding: 0 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  border-radius: 5px;
  font-size: 0.75rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.journal .result-wrapper .input-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
}

.journal .result-wrapper .input-wrapper ul li:first-child {
  margin-left: 1vw;
}

.journal .result-wrapper .input-wrapper ul li {
  padding: 0 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.journal .result-wrapper .button-wrapper {
  padding: 3vh 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.journal .result-wrapper .button-wrapper button,
.journal .result-wrapper .button-wrapper a {
  font-size: 0.875rem;
  padding: 0.5vh 2vw;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.journal .result-wrapper .button-wrapper button.save {
  background-color: rgba(255, 255, 255, 0.2);
}

.journal .result-wrapper .button-wrapper button.restart {
  border: 1px solid white;
}

.journal .result-wrapper .button-wrapper button.save:hover {
  filter: brightness(0.9);
}

.journal .result-wrapper .button-wrapper button.restart:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@keyframes arrow_float {
	0% {
		transform: translateX(-50%) translatey(0px);
	}
	50% {
		transform: translateX(-50%) translatey(10px);
	}
	100% {
		transform: translateX(-50%) translatey(0px);
	}
}

/* Extra small devices (phones, less than 600px) */
@media only screen and (max-width: 600px) {
  .journal .summary-view,
  .journal .result-wrapper {
    min-width: 250px;
    max-width: 400px;
  }

  .journal .result-wrapper .card-text img {
    width: 4vw;
  }

  .journal .result-wrapper .card-container .card-image img {
    width: 13vw;
  }

  .journal .result-wrapper .card-container {
    gap: 5vw;
  }
  
  .content-wrapper h1 {
    font-size: 1.5rem;
  }

  .content-wrapper h1 img {
    width: 10vw;
  }

  .card-container .card-text {
    font-size: 1rem;
  }
  .card-container .card-text h3 span {
    padding: 0 1vw;
  }
  .card-container .card-text img {
    width: 4vw;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up to 767px) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  .journal .summary-view,
  .journal .result-wrapper {
    width: 100%;
    min-width: 400px;
    max-width: 500px;
  }

  .journal .result-wrapper .card-text img {
    width: 2.5vw;
  }

  .journal .result-wrapper .card-container .card-image img {
    width: 12vw;
  }

  .content-wrapper h1 {
    font-size: 1.5rem;
  }

  .content-wrapper h1 img {
    width: 5vw;
  }
  
  .card-container .card-text img {
    width: 3vw;
  }
}

/* Medium devices (landscape tablets, 768px and up to 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .journal .summary-view,
  .journal .result-wrapper {
    min-width: 600px;
    max-width: 700px;
  }

  .journal .result-wrapper .card-container .card-image img {
    width: 10vw;
  }

  .content-wrapper h1 img {
    width: 5vw;
  }

  .content-wrapper h1 {
    font-size: 1.75rem;
  }

  .card-container .card-text img {
    width: 3vw;
  }
}

/* Large devices (laptops/desktops, 992px and up to 1199px) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .journal .summary-view,
  .journal .result-wrapper {
    min-width: 600px;
    max-width: 800px;
  }

  .journal .result-wrapper .card-container .card-image img {
    width: 6vw;
  }

  .content-wrapper h1 {
    font-size: 1.75rem;
  }

  .card-container .card-text img {
    width: 2vw;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .journal .summary-view,
  .journal .result-wrapper {
    min-width: 800px;
    max-width: 1000px;
  }

  .journal .result-wrapper .card-container .card-image img {
    width: 6vw;
  }

  .content-wrapper h1 {
    font-size: 1.75rem;
  }
}
