.journal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-view {
  position: relative;
}

.return-icon {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 3;
}

.journal .result-wrapper {
  display: flex;
  margin-top: 10vh;
  width: 80vw;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8vh;
}

.journal .result-wrapper .content-wrapper {
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.journal select {
  background-color: transparent;
}
.summary-view {
  gap: 2vh;
}

.summary-view .summary-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.summary-view .summary-header h2 {
  text-align: center;
}

.summary-view .summary-header .icon-wrapper {
  align-self: flex-end;
  display: flex;
  gap: 0.5vw;
}

.summary-view .summary-header .icon-wrapper .icon {
  font-size: 0.875rem;
}

.summary-view, 
.journal .result-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 600px;
  max-width: 900px;
  padding: 8vh 5vw;
  height: 80vh;
  margin-top: 15vh;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(50px);
  border-radius: 2vw;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.1);
}


.journal .result-wrapper .content-wrapper {
  overflow-y: auto;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 6vh;
}

.journal .result-wrapper h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  gap: 1vw;
}

.journal .result-wrapper h1 img {
  width: 3vw;
}

.journal .result-wrapper .card-image img {
  width: 6vw;
  height: auto;
  max-width: 200px;
}

.journal .result-wrapper .card-container {
  display: flex;
  gap: 5vw;
}

.journal .result-wrapper .card-text {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.journal .result-wrapper .card-text h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5vw;
}

.journal .result-wrapper .card-text h3 span {
  border: 1px solid white;
  padding: 0 1vw;
  border-radius: 50px;
}

.journal .result-wrapper .card-text img {
  width: 1.5vw;
}

.journal .result-wrapper .last-item-wrapper .card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.journal .result-wrapper .scroll-down-icon {
  position: sticky;
  bottom: 1.5vh;
  z-index: 1;
  padding: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -1%;
  cursor: pointer;
  width: 1rem;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.3);
  animation: arrow_float 2s ease-in-out infinite;
}

.journal .result-wrapper .save-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.journal .result-wrapper .save-wrapper .tags,
.journal .result-wrapper .save-wrapper .note {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  position: relative;
}

.journal .result-wrapper .save-wrapper span {
  font-size: 0.75rem;
  opacity: 0.6;
}
.journal .result-wrapper .save-wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.journal .result-wrapper .save-wrapper .editor {
  display: flex;
  flex-direction: column;
  gap: 1.5vh;
}

.journal .result-wrapper .header {
  display: flex;
  font-size: 0.875rem;
  align-items: center;
  gap: 0.75vw;
}

.journal .result-wrapper .input-wrapper {
  font-size: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.5vh 1vw;
  gap: 1vw;
  margin-bottom: 2vh; 
}

.journal .result-wrapper .tags .input-wrapper {
  padding-left: 0;
}

.journal .result-wrapper .note .input-wrapper {
  padding: 1vh 1vw;
  align-items: flex-end;
  gap: 0;
  position: relative;
}

.journal .result-wrapper .input-wrapper input {
  padding: 0.3vh 0.5vw;
  background-color: transparent;
  flex: 1;
  font-size: 0.75rem;
  font-weight: 100;
  outline: none;
  border: none;
}

.journal .result-wrapper .tip {
  position: absolute;
  top: calc(100% - 1.5vh)
}

.journal .result-wrapper .input-wrapper textarea {
  resize: none; 
  padding: 0.3vh 0.5vw;
  background-color: transparent;
  flex: 1;
  font-size: 0.75rem;
  font-weight: 100;
  outline: none;
  border: none;
}

.journal .result-wrapper .input-wrapper input:focus {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.journal .result-wrapper .input-wrapper textarea:focus {
  outline: none; 
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
}

.journal .result-wrapper .input-wrapper textarea {
  scrollbar-width: none;
  overflow-y: auto;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 1vh 2vw;
}

.journal .result-wrapper .input-wrapper textarea:focus + button {
  /* background-color: rgba(255, 255, 255, 0.1); */
  color: white;
}

.journal .result-wrapper .note .input-wrapper .button-wrapper {
  height: 100%;
}

.journal .result-wrapper .note .input-wrapper button {
  padding: 0.5vh 1vw;
  align-self: flex-end;
}

.journal .result-wrapper .input-wrapper button {
  font-size: 0.75rem;
  white-space: nowrap;
}

.journal .result-wrapper .input-wrapper ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vw;
}

.journal .result-wrapper .input-wrapper ul li:first-child {
  margin-left: 1vw;
}

.journal .result-wrapper .input-wrapper ul li {
  padding: 0 0.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.journal .result-wrapper .button-wrapper {
  padding: 3vh 0;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.journal .result-wrapper .button-wrapper button,
.journal .result-wrapper .button-wrapper a {
  font-size: 0.875rem;
  padding: 0.5vh 2vw;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.journal .result-wrapper .button-wrapper button.save {
  background-color: rgba(255, 255, 255, 0.2);
}

.journal .result-wrapper .button-wrapper button.restart {
  border: 1px solid white;
}

.journal .result-wrapper .button-wrapper button.save:hover {
  filter: brightness(0.9);
}

.journal .result-wrapper .button-wrapper button.restart:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

@keyframes arrow_float {
	0% {
		transform: translateX(-50%) translatey(0px);
	}
	50% {
		transform: translateX(-50%) translatey(10px);
	}
	100% {
		transform: translateX(-50%) translatey(0px);
	}
}

